.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
}
#alertDiv {
    display: flex;
    height: 2rem;
}
#alertMsg {
    display: flex;
    align-items: center;
    text-align: left;
    height: 2rem;
    width: 300px;
    padding-left: 1rem;
    border: 2px solid red;
    border-left: red 0.4rem solid;
    border-radius: 0.2rem;
    color: red;
}
h2>svg {
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
}
.username, .password {
    width: 300px;
}

#username, #password {
    outline: none;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: 0.1rem solid var(--dark-bg-secondary);
    border-radius: 2rem;
    margin: 0.5rem 0;
}
#username:focus, #password:focus{
    border: 0.1rem solid var(--accent);
    color: var(--accent);
}
.button {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--dark-bg-secondary);
    background-color: white;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 300ms ease;
}
#login:hover {
    color: var(--accent);
    border: 0.1rem solid var(--accent);
}
#login:active {
    border: 0.1rem solid #057683;
    color: #057683;
}
.container p {
    text-align: right;
    a {
        text-decoration: none;
        color: #057683;
    }
    a:hover {
        text-decoration: underline;
    }
}