* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
    outline: none;
}

body {
    background-color: #051014;
    color: #f0f0f0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
    width: 400px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
    border: 1px solid cyan;
    padding: 1rem;
    box-shadow: 0 0 2rem rgba(0, 255, 255, 0.5);
}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: goldenrod;
    margin-bottom: 1rem;
}
.inputGroup {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;


    > input[type='text'] {
        padding: 0.5rem 1rem;
        border-radius: 2rem 0 0 2rem;
        border: 1px solid cyan;
        border-right: none;
        width: 250px;background-color: rgba(255, 255, 255, 0.1);
        color: #a7a7a7;
        font-size: 1rem;
    }
    > input[type='text']:focus {
        background-color: rgba(0, 255, 255, 0.1);
    }

    > button {
        border: 1px solid cyan;
        color: #a7a7a7;
        border-radius: 0 2rem 2rem 0;
        width: 80px;
        font-size: 1rem;
        background-color: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        transition: 0.3s;
    }
    > button:hover {
        color: cyan;
        background-color: rgba(0, 255, 255, 0.1);
    }
    > button:active {
        background-color: rgba(0, 255, 255, 0.2);
    }
}

.alert {
    position: fixed;
    top: 1rem;
    right: 1rem;
    width: 200px;
    height: 20px;
    border-left: 3px solid orangered;
    border-radius: 0 1rem 1rem 0;
    background-color: rgba(255, 68, 0, 0.1);
    font-size: 1rem;
    color: rgba(0, 255, 255, 0.75);
    display: none;
    align-items: center;
    padding: 0.5rem 1rem;
}