body {
    padding: 1rem;
    min-width: 300px;
}
input {
    margin-bottom: 0.5rem;
    width: 100%;
    display: block;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    border-radius: 0.2rem;
}
button {
    padding: 0.5rem 1rem;
    border: 1px solid black;
    background-color: white;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}
button:hover {
    background-color: black;
    color: white;
}
button:active {
    opacity: 0.9;
}
ul{
    padding-left: 1rem;
    list-style: none;
    gap: 0.5rem;
}

li {
    display: flex;
}
li a {
    text-decoration: none;
    color: darkblue;
}